# Copy this file to .env and fill in your keys
VITE_AIRTABLE_BASE_ID=appMLHig3CN7WW0iW
VITE_AIRTABLE_CLIENTS_TABLE=tblfvqqyYukRJQYmQ
VITE_AIRTABLE_PROSPECTS_TABLE=tbluEsKoQ2p49ktVq
VITE_AIRTABLE_API_KEY=
VITE_N8N_BASE_URL=https://kaiashley.app.n8n.cloud
VITE_N8N_API_KEY=
